# not ready to share yet
examples/aws-cloud-backend
!examples/aws-cloud-backend/README.md

# Contains API token for Terraform Cloud examples
.terraformrc

# Terraform dependencies downloaded at runtime
.terraform

# Mac-specific
.DS_Store

ignore-*
